/* BODY */
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}


/* HEADER */
.navbar {
  background: #FFF;
  height: 50px;
  border: none;
}

.navbar-brand {
  color: #333 !important;
  text-transform: uppercase;
  margin-top: 10px;
  margin-left:
}

.navbar-default .navbar-nav {
  margin-top: 10px;
}

.navbar-default .navbar-nav li a {
  text-transform: uppercase;
  color: #4e5763;
  font-size: 14px;
  transition: all .2s linear;
}

.navbar-default .navbar-nav li a:hover{
  color: #008bcb;
  font-size: 14px;
}

.btn-warning.navbar-btn {
    color: #fff !important;
    text-transform: none !important;
    background-color: #f77d0e !important;
    padding: 6px 13px !important;
    font-size: 14px !important;
    border-radius: 3px;
}

.btn-warning.navbar-btn:hover {
  background-color: #ec7508 !important;
}

/* HOME BANNER */

#home-banner {
  background: url("img/bg-nasa.jpg") no-repeat center center #0e4369;
  /*animation: slidefade3 22s infinite;
  -o-animation: slidefade3 22s infinite;
  -moz-animation: slidefade3 22s infinite;
  -webkit-animation: slidefade3 22s infinite;*/
  background-size: cover;
}

#home-banner h1, p {
  color: white;
}

#home-banner h1 {
  font-size: 3.4em;
  line-height: 1.3;
  margin-bottom: 15px;
}

#home-banner p {
  font-size: 1.5em;
  line-height: 1.6;
  margin-bottom: 30px;
}

#home-banner-content {
  position: relative;
  padding: 10%;
}
#home-banner-content .btn {
  color: white;
  background-color: transparent !important;
  margin-right: 10px;
  border-width: 2px !important;
  padding: 10px 25px;
}

/*======PORTFOLIO==========*/

@import "compass/css3";

#showcase {
  margin-top: 60px;
  margin-bottom: 80px;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: grey;
  padding: 5px;
  width: 250px;
  height: 150px;
  margin-top: 10px;
  border: 1px solid #333;

  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}


/*======FOOTER STUFF==========*/
.custom-footer {
  width: 100%;
  height: 30px;
  /*position: bottom-fixed;*/
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -80px;
  /*bottom:0;*/
  /*left: 0;*/
    vertical-align: baseline;
  background: #FF921C;
}
