<section id="home-banner">
<div class="container">
  <div class="row" id="home-banner-content">
    <div class="col-xs-12 text-center">
      <h1>Web Developer</h1>
    </div>
    <div class="col-xs-12 text-center ">

      <p>Hello, I'm Annie. I'm a web developer based in Portland.</p>
      <a href="#"><button type="button" class="btn btn-default btn-lg">Portfolio</button></a>
      <a href="#"><button type="button" class="btn btn-default btn-lg">Contact</button></a>

    </div>
  </div>
</div>
</section>
