
<div ui-view="current-project"></div>

<section id="portfolio">
  <div class = "container">
    <h2 show-overlay>Portfolio</h2>

    <ul class="flex-container">
      <!-- <a ui-sref="project1" ng-click="GamesFactory.showmeSweeper=true" color-bg>
        <li class="flex-item" >Taco Sweeper</li></a> -->
      <a ui-sref="project1" space-bg><li class="flex-item">Project1</li></a>
      <li class="flex-item">Project2</li>
      <a href="https://www.reddit.com/r/tacos"><li class="flex-item">Project3</li></a>
      <a href="http://www.yelp.com/search?find_desc=tacos&find_loc=Portland,+OR&start=0&sortby=rating"><li class="flex-item">Project4</li></a>
      <li class="flex-item">About this site</li>
    </ul>
  </div>
</section>
